*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family:sans-serif;
  font: 1em sans-serif;
  
}

body{
  min-height: 80vh;
  background: linear-gradient(to bottom right, #ff6699 0%, #6600ff 100%) fixed;
  overflow: auto;
}

.login-form{
  width: 250px;
  background: #f1f1f1;
  height: 430px;
  padding: 40px 40px;
  border-radius: 10px;
  margin: 60px auto;
}

.login-form h1{
  text-align: center;
  margin-bottom: 60px;
  font-size:24px;
  font-weight:300;
  letter-spacing:-.5px
  
}
 .login-form h1 span.logo1{
  color:darkblue;
  font-size:24px;
  font-weight:300;
  letter-spacing:-.5px
}
 .login-form h1 span.logo2 {
  color:#ff0077;
  font-size:24px;
  font-weight:300;
  letter-spacing:-.5px
 }
.input-group {
  position: relative;
  margin: 40px 0 20px;
  margin-top: 30px;
}
input {
  font-size: 18px;
  color: #333;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  background: none;
  border-bottom: 1px solid #757575;
  
}

input:focus {
  outline:none;
 
}
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  background: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 16px;
  color: rgb(255, 0, 98);
}

.bar {
  position: relative;
  display:block;
  width:265px;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #0011ff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.logbtn{
  display: block;
  width: 100%;
  height: 50px;
  margin-top: 30px;
  border: 1px solid #33ccff;
  background: linear-gradient(120deg,#33ccff,#ff99cc,#33ccff);
  
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: .5s;
}
.logbtn:hover{
  background-position: right;
}
.bottom-text{
  margin-top: 30px;
  text-align: center;
  font-size: 13px;
}
img.avatar {
  width: 75%;
  border-radius: 0%;
}

/* Add Zoom Animation */
.animate {
  animation: animatezoom 1.5s
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
