body {padding:0; overflow: hidden;margin:0;font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 2;
}
.backc {
  width: 100%;
  margin: 0 auto;

  position: absolute;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.wrap-login100 {
  width: 30%;
  height: 300px;
  background: #fefdee;
  border-radius: 10px;
  overflow: hidden;

  padding: 10px 40px 170px 40px;
   margin: 3% auto 3% auto;
}


/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 1px 0 1px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 0%;
}



/* Add Zoom Animation */
.animate {
  animation: animatezoom 1.5s
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
@media only screen and (max-width: 600px) {
  .wrap-login100 {

    width: 90%;/*30*/
    height: 300px;
    background: #fefdee;
    border-radius: 10px;
    overflow: hidden;
  
    padding: 10px 40px 170px 40px;
     margin: 3% auto 3% auto;
  }
}
